<div class="row" style="z-index: 5;
    position: absolute;
    flex-direction: row;
    background-color: #505a7c;
    height: 8vh;
   ">
<div class="col col-10"></div>
 <div  class="col col-80" style="text-align: center;"><p style="font-size: 7vw;
    color: #eaeaea;">ACTIVITY</p></div>
<div class="col col-10"></div>
</div>




<div class="row" style="position: absolute;
    padding: 0px;
    margin-top: 6vh;
    z-index: 4;
  ">

 
 <div class="col" style="background-color: #626e97;"><p></p></div>
 
 <br style="clear: left;" />

</div>


<div class="row" style="z-index: 6;
    position: absolute;
    /* flex-direction: row; */
    margin-top: 8.5vh;
   ">
<div class="col col-20"></div>
<div class="col col-25"></div>
 <div  class="col col-10" style="height:2.5vh;background-color: #626e97;-webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
clip-path: polygon(50% 100%, 0 0, 100% 0);"><p></p></div>
<div class="col col-25"></div>
<div class="col col-20"></div>
</div>

<ion-view style="background: #3A4264;top: 8vh;">





    <div class = "row" 
style="margin-top: 3vh;height: 12vh;">
   <div class = "col col-20 first-row"><button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button></div>
   <div class = "col col-60"></div>

  <div class = "col col-20 teamwork"></div>
   
</div>




<div class = "row" style="margin-top: -2vh;">
   
   <div class = "col" style="padding: 10vw;">

  <p class="wrap" style="color: #eaeaea;font-size: 4vw;line-height: 3vh;">
    Please choose one of the Descon values that you feel is closest to you and you can relate to the most. Write that value on a badge and stick that badge on your shirt for the next whole day at work. The objective is that you will Live that value for the entire week in everything that you do and when people around you ask you what that badge means, please feel free to tell them what you are doing and encourage them to do the same. 
The vision is for everyone at Descon to share with each other which value means the most to them and how it translates into their everyday ways of working. Also tell us which value you chose, how you exhibit that value during your job and please upload your picture with the badge and send to us here.</p> 
   

  </div>
 
</div>


<div class="row" style="margin-top: -5vh;">

<div class="col col-10">
       
</div>
  <div class="col col-80" style="border-radius: 10px;
    background: #F04E65;">
        <p class="home-rewards-text">Submit Entry</p>
       </div>  
<div class="col col-10">
     
</div>
</div>