
<div class="row" style="z-index: 5;
    position: absolute;
    flex-direction: row;
    background-color: #505a7c;
    height: 8vh;
   ">
<div class="col col-10"></div>
 <div ng-click="all_notification()" class="col col-80" style="text-align: center;"><p style="font-size: 7vw;
    color: #eaeaea;">NOTIFICATIONS</p></div>
<div class="col col-10"></div>
</div>




<div class="row" style="position: absolute;
    padding: 0px;
    margin-top: 6vh;
    z-index: 4;
  ">

 
 <div class="col" style="background-color: #00B2B0;"><p></p></div>
 
 <br style="clear: left;" />

</div>


<div class="row" style="z-index: 6;
    position: absolute;
    /* flex-direction: row; */
    margin-top: 8.5vh;
   ">
<div class="col col-20"></div>
<div class="col col-25"></div>
 <div  class="col col-10" style="height:2.5vh;background-color: #00B2B0;-webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
clip-path: polygon(50% 100%, 0 0, 100% 0);"><p></p></div>
<div class="col col-25"></div>
<div class="col col-20"></div>
</div>

<ion-view style="background: #3A4264;top: 8vh;">





    <div class = "row" 
style="margin-top: 3vh;height: 12vh;">
   <div class = "col col-20 first-row"><button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button></div>
   <div class = "col col-80 col-center second-row"> </div>
  
</div>




<div class="row">
  <div class="col col-45" style="border-bottom: 0.5vw solid #eaeaea;"></div>
  
 <div class="col col-45" style="border-bottom: 0.5vw solid #eaeaea;"></div>
</div>


<div class="row" style="margin-top: -4vh;">
 <div class="col col-35"></div>
<div class="col col-30" style="text-align: center;background-color:#3A4264; ">
    <p style="color: #eaeaea;font-size: 6vw;">Recent</p>
  </div>
  <div class="col col-35"></div>
</div>




<ion-content style="margin-top: 22vh;
    height: 35vh;">



<!-- <div ng-repeat="row in notifytext" class="repeating-div" ng-click="recognize()"> -->


<div class="row"  ng-repeat="value in notification_text track by $index" class="repeat" style="width: 100%">

 

<div class="col col-20">
<a class="icon-circle-large-recognize-picture">
          <img src="img/profilepic.png" class="profile-menu">
         </a>
         </div>

  <div class="col col-50">
 <p class="notify-text">{{value}}</p> </div>
<div class="col col-10"></div>
 <div class="col col-20"><p style="color: #eaeaea;font-size: 3vw;">{{notification_time[$index]}}</p></div>
</div>

<!-- </div> -->



</ion-content>



<div class="row" style="margin-top: 45vh;">
  <div class="col col-45" style="border-bottom: 0.5vw solid #eaeaea;"></div>
  
 <div class="col col-45" style="border-bottom: 0.5vw solid #eaeaea;"></div>
</div>


<div class="row" style="margin-top: -4vh;">
 <div class="col col-35"></div>
<div class="col col-30" style="text-align: center;background-color:#3A4264; ">
    <p style="color: #eaeaea;font-size: 6vw;">Yesterday</p>
  </div>
  <div class="col col-35"></div>
</div>

</ion-view>