<ion-view>
 <ion-content ng-controller="AppCtrl" style="background: #3A4264;background-size: cover;">

<br>


  <div class="row">

  	<div class="col col-20"></div>
  	<div class="col col-60">
  		
  		<a>
          <img src="img/descon-logo.png" class="img-centered-signin">
          </a>

  	</div>
  	<div class="col col-20"></div>

  </div>


<div class="row">
	<div class="col col-10"></div>
	<div class="col col-80">
		
		<p class="signin-text">SIGN INTO YOUR ACCOUNT</p>

	</div>
	<div class="col col-10"></div>
</div>



	






<div class="row">
	<div class="col col-10"></div>
	
	 <div class="col col-80 hover-signin">
        
          <i class="ion-person" style="font-size: 10vw;color: #9DA1B2;padding-left:5vw;padding-right: 5vw;"></i>
     	 <input class="signin-id ion-ios-search" type="text" ng-model='empid' placeholder="Enter Employee ID">
     
        
       </input>

       

	</div>
	<div class="col col-10"></div>
</div>


<br>



<div class="row">
	<div class="col col-10"></div>
	
	 <div class="col col-80 hover-signin">
        
        <i class="ion-locked" style="font-size: 10vw;color: #9DA1B2;padding-left:5vw;padding-right: 5vw;"></i>
     	 <input class="signin-id ion-ios-search" type="text" placeholder="Password">
     
        
       </input>


	</div>
	<div class="col col-10"></div>
</div>

<br>

<div class="row">
	<div class="col col-20"></div>
	
	 <div class="col col-60" style="border-radius: 5px;background:#e64c65;text-align: center;" ng-click="signin()">
      

      <p class="signin-text">SIGN IN</p>


	</div>
	<div class="col col-20"></div>
</div>





<div class="row">
	<div class="col col-20"></div>
	
	 <div class="col col-60" style="text-align: center;">
      

      <p class="signin-text">Forgot Password?</p>


	</div>
	<div class="col col-20"></div>
</div>


<br>




 <div class="row" style="margin-bottom: -3vh;">
	<div class="col col-20"></div>
	
	 <div class="col col-60" style="text-align: center;">
      

 <p class="signin-text">Don't have an account?</p>


	</div>
	<div class="col col-20"></div>
</div>


 <div class="row" style="margin-bottom: -3vh;">
	<div class="col col-20"></div>
	
	 <div class="col col-60" style="text-align: center;" >
      

 <p ng-click="signupone()" class="signin-text">SIGN UP HERE!</p>


	</div>
	<div class="col col-20"></div>
</div>







  </ion-content>
  </ion-view>