<ion-view>
 <ion-content ng-controller="AppCtrl" style="background: #3A4264;background-size: cover;">
  

<br>
  <div class="row">

  	<div class="col col-20"></div>
  	<div class="col col-60">
  		
  		<a>
          <img src="img/descon-logo.png" class="img-centered-signin">
          </a>

  	</div>
  	<div class="col col-20"></div>

  </div>


<div class="row">
	<div class="col col-10"></div>
	<div class="col col-80" style="text-align: center;">
		
		<p class="signin-text">SIGN UP - STEP 2</p>

	</div>
	<div class="col col-10"></div>
</div>



	




<div class="row">
	<div class="col col-10"></div>
	
	 <div class="col col-80 hover-signin" style="margin-bottom: 1.5vh;">
        
          <i class="ion-person" style="font-size: 10vw;color: #9DA1B2;padding-left:5vw;padding-right: 5vw;"></i>
     	 <input class="signin-id ion-ios-search" type="text" ng-model='empid' placeholder="Enter Employee ID">
     
        
       

       

	</div>
	<div class="col col-10"></div>
</div>




<div class="row">
	<div class="col col-10"></div>
	
	 <div class="col col-80 hover-signin" style="margin-bottom: 1.5vh;">
        
          <i class="ion-android-home" style="font-size: 10vw;color: #9DA1B2;padding-left:5vw;padding-right: 5vw;"></i>
     	 <input class="signin-id ion-ios-search" type="text" ng-model='depart' placeholder="Department">
     
        
       

       

	</div>
	<div class="col col-10"></div>
</div>




<div class="row">
	<div class="col col-10"></div>
	
	 <div class="col col-80 hover-signin" style="margin-bottom: 1.5vh;">
        
          <i class="ion-location" style="font-size: 10vw;color: #9DA1B2;padding-left:5vw;padding-right: 5vw;"></i>
     	 <input class="signin-id ion-ios-search" type="text" ng-model='location' placeholder="Place of Posting">
     
        
       

       

	</div>
	<div class="col col-10"></div>
</div>




<div class="row">
	<div class="col col-10"></div>
	
	 <div class="col col-80 hover-signin" style="margin-bottom: 1.5vh;">
        
          <i class="ion-briefcase" style="font-size: 10vw;color: #9DA1B2;padding-left:5vw;padding-right: 5vw;"></i>
     	 <input class="signin-id ion-ios-search" type="text" ng-model='managername' placeholder="Line Manager's Name">
     
        
       

       

	</div>
	<div class="col col-10"></div>
</div>



<div class="row">
	<div class="col col-10"></div>
	
	 <div class="col col-80 hover-signin" style="margin-bottom: 1.5vh;">
        
          <i class="ion-clock" style="font-size: 10vw;color: #9DA1B2;padding-left:5vw;padding-right: 5vw;"></i>
     	 <input class="signin-id ion-ios-search" type="text" ng-model='time' placeholder="Time With Organization">
     
        
       

       

	</div>
	<div class="col col-10"></div>
</div>






<div class="row" style="margin-top: 1vh;">
	<div class="col col-30"></div>
	
	 <div class="col col-40" style="border-radius: 5px;background:#e64c65;text-align: center;" ng-click="signupthree()">
      

      <p class="signin-text" style="">NEXT</p>


	</div>
	<div class="col col-30"></div>
</div>

</ion-content>
  </ion-view>