
<div class="row" style="z-index: 5;
    position: absolute;
    flex-direction: row;
    background-color: #505a7c;
    height: 8vh;
   ">
<div class="col col-10"></div>
 <div  class="col col-80" style="text-align: center;"><p style="font-size: 7vw;
    color: #eaeaea;">TOP TEAM</p></div>
<div class="col col-10"></div>
</div>




<div class="row" style="position: absolute;
    padding: 0px;
    margin-top: 6vh;
    z-index: 4;
  ">

 
 <div class="col" style="background-color: #00B2B0;"><p></p></div>
 
 <br style="clear: left;" />

</div>


<div class="row" style="z-index: 6;
    position: absolute;
    /* flex-direction: row; */
    margin-top: 8.5vh;
   ">
<div class="col col-20"></div>
<div class="col col-25"></div>
 <div  class="col col-10" style="height:2.5vh;background-color: #00B2B0;-webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
clip-path: polygon(50% 100%, 0 0, 100% 0);"><p></p></div>
<div class="col col-25"></div>
<div class="col col-20"></div>
</div>

<ion-view style="background: #3A4264;top: 8vh;">





    <div class = "row" 
style="margin-top: 3vh;height: 12vh;">
   <div class = "col col-20 first-row"><button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button></div>
   <div class = "col col-80 col-center second-row"> <p style="color: #eaeaea;
    font-size: 7vw;">LEADERSHIP TEAM</p></div>
  
</div>


 <div class = "row" 
style="height: 25vh;">
   <div class = "col col-10"></div>
   <div class = "col col-40" style="background-color: #505a7c;margin:0.5vw;text-align: center;">
    
          <img src="img/profilepic.png" style="width: 25vw;margin-top: 1vw;">
         <p  style="color: #eaeaea;font-size: 3.7vw;margin: 0;">Abdul Razak Dawood</p>
     <p style="color: #eaeaea;font-size: 3.5vw;margin: 0;">Chairman/CEO</p>
             
     
   </div>

   <div class = "col col-40" style="background-color: #505a7c;margin:0.5vw;text-align: center;">
    
          <img src="img/profilepic.png" style="width: 25vw;margin-top: 1vw;">
         <p  style="color: #eaeaea;font-size: 3.7vw;margin: 0;">Taimur Dawood</p>
     <p style="color: #eaeaea;font-size: 3.5vw;margin: 0;">Vice Chairman</p>
             
     
   </div>


   <div class = "col col-10"></div>
</div>




<div class = "row" 
style="height: 25vh;">
   <div class = "col col-10"></div>
   <div class = "col col-40" style="background-color: #505a7c;margin:0.5vw;text-align: center;">
    
          <img src="img/profilepic.png" style="width: 25vw;margin-top: 1vw;">
         <p  style="color: #eaeaea;font-size: 3.7vw;margin: 0;">Faisal Dawood</p>
     <p style="color: #eaeaea;font-size: 3.5vw;margin: 0;">Cheif Financial Officer</p>
             
     
   </div>

   <div class = "col col-40" style="background-color: #505a7c;margin:0.5vw;text-align: center;line-height: 1.3;">
    
          <img src="img/profilepic.png" style="width: 25vw;margin-top: 1vw;">
         <p  style="color: #eaeaea;font-size: 3.7vw;margin: 0;">Mr Khawar Khan</p>
     <p style="color: #eaeaea;font-size: 3.5vw;margin: 0;">Cheif Risk and Compliance Officer</p>
             
     
   </div>


   <div class = "col col-10"></div>
</div>







<div class = "row" 
style="height: 25vh;">
   <div class = "col col-10"></div>
   <div class = "col col-40" style="background-color: #505a7c;margin:0.5vw;text-align: center;line-height: 1.3;">
    
          <img src="img/profilepic.png" style="width: 25vw;margin-top: 1vw;">
         <p  style="color: #eaeaea;font-size: 3.7vw;margin: 0;">Anwar Ul Haq</p>
     <p style="color: #eaeaea;font-size: 3.5vw;margin: 0;">Division President Maintenance</p>
             
     
   </div>

   <div class = "col col-40" style="background-color: #505a7c;margin:0.5vw;text-align: center;">
    
          <img src="img/profilepic.png" style="width: 25vw;margin-top: 1vw;">
         <p  style="color: #eaeaea;font-size: 3.7vw;margin: 0;">Naeem Ur Rashid</p>
     <p style="color: #eaeaea;font-size: 3.5vw;margin: 0;">Cheif HR Officer</p>
             
     
   </div>


   <div class = "col col-10"></div>
</div>


</ion-view>